.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}



.chat_header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
    padding-left: 20px;
    flex:1;
}


.chat_headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 700;
}

.chat_headerInfo > p {
    color:gray
}


.chat_body {
    flex: 1;
    background-color: #fefae0;
    padding: 30px;
}



.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;

}


.chat_timestamp {
    font-size: xx-small;
    margin-left: 10px;
}

.chat_name {
    position: absolute;
    top:-15px;
    font-weight: 800;
    font-size: x-small;
}